:root {
    font-size: 14px;
    font-family: 'Open Sans';
    --text-primary: #272727;
    --text-secondary: #474747;
    --bg-primary: rgb(225, 225, 225);
    --bg-secondary: #c4c4c4;
    --transition-speed: 600ms;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 0;
    margin: 0;
}

.fa-city {
    transform: scale(1.8);
    color: var(--text-primary);
    margin: 0 0.6rem;
}

h1,
h2 {
    color: var(--text-primary);
}

img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

main {
    display: grid;
    grid-template-columns: auto 18rem 37rem auto;
    grid-template-rows: auto;
    grid-template-areas: '. build-section article .';
    column-gap: 4rem;
}

.build-section {
    margin-top: 2rem;
    grid-area: build-section;
    display: grid;
    grid-template-rows: repeat(auto-fill, 5rem);
    align-items: end;
}

label {
    width: auto;
    display: grid;
    row-gap: 0.4rem;
}

input,
select,
button {
    height: 2rem;
    min-width: 2rem;
}

label,
input,
select,
button,
li {
    color: var(--text-secondary);
}

article {
    grid-area: article;
    background-color: var(--bg-secondary);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0.5rem 0;
    height: 30rem;
}

#attraction-list {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.desert {
    background-color: #e0b374;
}

.tropical {
    background-color: #83e7d5;
}

.polar {
    background-color: #83b0e7;
}

.beaux-arts {
    font-family: 'Tangerine', cursive;
    font-size: 1.6rem;
}

.modern {
    font-family: 'Comfortaa', cursive;
}

.gothic {
    font-family: 'Cinzel Decorative', cursive;
}
